<h4>In progress...(show more on dev view)</h4>

<div class ="container">
    <ul class="column">
       <li class ="waves-effect waves-light btn grey darken-3 small" (click) = "get()"><a> List of library </a></li>
       <li class ="waves-effect waves-light btn grey darken-3 small" (click) = "post()"><a>Add new movie </a></li>
       <li class ="waves-effect waves-light btn grey darken-3 small" (click) = "put()"><a>Change existing movie </a></li>
       <li class ="waves-effect waves-light btn grey darken-3 small" (click) = "patch()" ><a>Change something in existing movie </a></li>
       <li class ="waves-effect waves-light btn grey darken-3 small" (click) = "delete()" ><a>Delete movie </a></li>
    </ul>
</div>
